
@{
    Layout = null;

}
<a href="/Default/Urunler">UrunlerSayfası</a>
<h1>SELAM</h1>
<h3>Dersler devam ediyor</h3>
<h1>Mesaj Listesi</h1>
<h1>----------------------- </h1>
<h2>@ViewBag.m1</h2>
<h2>@ViewBag.m2</h2>
<h3>@ViewBag.m3</h3>